/* styles for website */

/* 
.container {
    width: 960px;
    border: solid black;
    display: inline-block;
}
/*  */

body {
    background-image: url(../images/nintendotest.png);
    background-repeat: round;
    font-family: sans-serif;
    /* font-weight: bold; */
    font-size: 16px;
}

p {
    /* color: white; */
}

.main-img-center {
    margin: 100px auto;
}

.img-center {
    margin-left: 10%;
}

.image-size {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.margin-center {
    margin: 0 auto;
    border: dotted darkgray;
}

.left-side {
    margin: 100px 0px;
    /* border-bottom: dotted darkgrey; */
}

.right-side {
    border-left: dotted darkgray;
}

/* rows for right side spacing */
.right-side-space {
    padding: 2em;
}

.left-side-row2 {
    margin: 50px auto;
    border-top: dotted darkgrey;
}
.leftside-paragraph {
    margin-top: 100px;
}